# PayDunya Keys (Sandbox / Test)
# Replace with Production keys once validated by PayDunya
PAYDUNYA_MASTER_KEY=0XCTDsS1-wvXQ-IXk8-3JpQ-1EwiC6TntMCb
PAYDUNYA_PUBLIC_KEY=test_public_5lF98YQ8AiDKcLvUnWklGaFqgjQ
PAYDUNYA_PRIVATE_KEY=test_private_PzeLrKxM6Iyh8k378Rh5lBQzwFx
PAYDUNYA_TOKEN=BE6AuxyQ1UbTQNshxF8e

# Supabase Keys
SUPABASE_URL=https://exkofskxjvcuclyozlho.supabase.co
SUPABASE_SERVICE_KEY=<coller ici ta clé service_role>

# App Setup
APP_URL=https://universalfabsn.space
